extends layout

block content
  .page-header
  h2 Achievements
  table(class="table")
    thead
      tr
       th Title
       th Description
    tbody
      each member in gained
        tr
          td=hashtable[member.achievement].label
          td=hashtable[member.achievement].description


  if user.isSponsor
    h2 Sponsored Achievements
    a(class="btn btn-primary" role="button" href="/achievements/add") Add Achievement
    table(class="table")
      thead
        tr
         th Title
         th Description
         th QR Code
      tbody
        each member in achievements
          tr
            td=member.label
            td=member.description
            td
              a(href="#{member.qr}") QR Code
