extends ../layout

block content
  h4 Achievement:
  #{'member.description'}
  h5 Unlocked
  table(class="table")
    thead
      tr
       th First
       th Last
    tbody
      each member in users
        tr
          td=member.profile.firstName
          td=member.profile.lastName

          tr
            td=member.profile.firstName
            td=member.profile.lastName
